@import 'chartist';

// distilled from govuk_toolkit and template
@import 'fonts';
@import 'colours';

* {
  box-sizing: border-box;
}

body {
  @include font-generator;

  background-color: $black;
  color: $white;
  font-weight: 700;
}

img {
  display: block;
}

// Main panels //////////////////////////////////////////////////////////////////////////

// 12 panel layout

.layout-12 {
  .panel {
    width: 25%;
    height: 33.3%;
  }

  .pos-1 {
    left: 0;
    top: 0;
  }
  .pos-2 {
    left: 25%;
    top: 0;
  }
  .pos-3 {
    left: 50%;
    top: 0;
  }
  .pos-4 {
    left: 75%;
    top: 0;
  }
  .pos-5 {
    left: 0;
    top: 33.3%;
  }
  .pos-6 {
    left: 25%;
    top: 33.3%;
  }
  .pos-7 {
    left: 50%;
    top: 33.3%;
  }
  .pos-8 {
    left: 75%;
    top: 33.3%;
  }
  .pos-9 {
    left: 0;
    top: 66.6%;
  }
  .pos-10 {
    left: 25%;
    top: 66.6%;
  }
  .pos-11 {
    left: 50%;
    top: 66.6%;
  }
  .pos-12 {
    left: 75%;
    top: 66.6%;
  }
}

// 9 panel layout

.layout-9 {
  .panel {
    width: 33.3%;
    height: 33.3%;
  }

  .pos-1 {
    left: 0;
    top: 0;
  }
  .pos-2 {
    left: 33.3%;
    top: 0;
  }
  .pos-3 {
    left: 66.6%;
    top: 0;
  }
  .pos-4 {
    left: 0;
    top: 33.3%;
  }
  .pos-5 {
    left: 33.3%;
    top: 33.3%;
  }
  .pos-6 {
    left: 66.6%;
    top: 33.3%;
  }
  .pos-7 {
    left: 0;
    top: 66.6%;
  }
  .pos-8 {
    left: 33.3%;
    top: 66.6%;
  }
  .pos-9 {
    left: 66.6%;
    top: 66.6%;
  }
}

// General attributes
.panel {
  position: absolute;
}

.pos-1 {
  background-color: $grass-green;
}
.pos-2 {
  background-color: $fuschia;
}
.pos-3 {
  background-color: transparent;
}
.pos-4 {
  background-color: $baby-pink;
}
.pos-5 {
  background-color: transparent;
}
.pos-6 {
  background-color: $red;
}
.pos-7 {
  background-color: $grass-green;
}
.pos-8 {
  background-color: $turquoise;
}
.pos-9 {
  background-color: $light-blue;
}
.pos-10 {
  background-color: $grass-green;
}
.pos-11 {
  background-color: $grass-green;
}
.pos-12 {
  background-color: $yellow;
}

// Inner container //////////////////////////////////////////////////////////////////////
.container { 
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 100vw;
}

// Flip cards ///////////////////////////////////////////////////////////////////////////
.flip-card,
#card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 0.75s;

  .card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front-face {
    transform-style: preserve-3d;
  }

  .back-face {
    transform-style: preserve-3d;
    transform: rotateY( 180deg );
  }
}

// General text (the defaults) //////////////////////////////////////////////////////////
.layout-12 {
  .title {
    font-size: 1.5vw;
  }
  .figure {
    font-size: 4.5vw;
  }
}
.layout-9 {
  .title {
    font-size: 1.75vw;
  }
  .figure {
    font-size: 6vw;
  }
}

// cell "types" - i.e. large figure, realtime users etc /////////////////////////////////

.large-figure { // up to 8 figures, with commas
  padding: 4%;
}

.icon-figure {
  .title {
    padding: 4% 4% 0 4%;
  }
  .image {
    position: absolute;
    top: 33.3%;
    bottom: 0;
    width: 33.3%;
    padding: 4%;
  }
  .figure {
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    bottom: 0;
    width: 66.6%;
    padding: 4% 4% 4% 0;
  }
}

.icon-line {
  .title {
    padding: 4% 4% 0 4%;
  }
  .line {
    height: 50%;
  }
}

.icon-pie {
  .title {
    padding: 4% 4% 0 4%;
  }
  .pie {
    position: absolute;
    top: 33.3%;
    bottom: 0;
    width: 33.3%;
    padding: 5% 4%;
  }
  .figure {
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    bottom: 0;
    width: 66.6%;
    padding: 4% 4% 4% 0;
    font-size: 6.5vw;
  }
}

// Sprint logo //////////////////////////////////////////////////////////////////////////
.sprint-logo {
  display: flex;
  background-color: $white;
  img {
    margin: auto;
    width: 80%;
  }
}

// Sprint hashtag //////////////////////////////////////////////////////////////////////////
.hashtag {
  display: flex;
  background-color: $black;
  font-size: 4.5vw;
  font-weight: 400;
  color: $white;
  & > div {
    margin: auto;
  }
}

// Performance platform link ////////////////////////////////////////////////////////////
#performance-link {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  padding: 1%;
  font-size: 2.5vh;
  white-space: nowrap;
  background-color: $black;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transform: rotate(90deg);
}
