// distilled from govuk_toolkit and template
@import 'fonts';
@import 'colours';

@import 'chartist';
.ct-chart-pie .ct-label {
  color: $black;
  fill: $black;
}

* {
  box-sizing: border-box;
}

body {
  @include font-generator;

  background-color: $black;
  color: $white;
  font-weight: 700;
}

img {
  display: block;
}

// Main panels //////////////////////////////////////////////////////////////////////////

// General attributes
.panel {
  position: absolute;
}

// 12 panel layout

.layout-12 {
  .panel {
    width: 25%;
    height: 33.3%;
  }

  .pos-1 {
    left: 0;
    top: 0;
  }
  .pos-2 {
    left: 25%;
    top: 0;
  }
  .pos-3 {
    left: 50%;
    top: 0;
  }
  .pos-4 {
    left: 75%;
    top: 0;
  }
  .pos-5 {
    left: 0;
    top: 33.3%;
  }
  .pos-6 {
    left: 25%;
    top: 33.3%;
  }
  .pos-7 {
    left: 50%;
    top: 33.3%;
  }
  .pos-8 {
    left: 75%;
    top: 33.3%;
  }
  .pos-9 {
    left: 0;
    top: 66.6%;
  }
  .pos-10 {
    left: 25%;
    top: 66.6%;
  }
  .pos-11 {
    left: 50%;
    top: 66.6%;
  }
  .pos-12 {
    left: 75%;
    top: 66.6%;
  }
}

// 9 panel layout KILL THIS

.layout-9 {
  .panel {
    width: 33.3%;
    height: 33.3%;
  }

  .pos-1 {
    left: 0;
    top: 0;
  }
  .pos-2 {
    left: 33.3%;
    top: 0;
  }
  .pos-3 {
    left: 66.6%;
    top: 0;
  }
  .pos-4 {
    left: 0;
    top: 33.3%;
  }
  .pos-5 {
    left: 33.3%;
    top: 33.3%;
  }
  .pos-6 {
    left: 66.6%;
    top: 33.3%;
  }
  .pos-7 {
    left: 0;
    top: 66.6%;
  }
  .pos-8 {
    left: 33.3%;
    top: 66.6%;
  }
  .pos-9 {
    left: 66.6%;
    top: 66.6%;
  }
}


// Panel colour classes /////////////////////////////////////////////////////////////////

// colour pallette from Michael
.c0 {
  background-color: rgb(132, 153, 75); // the key green
}
.c1 {
  background-color: rgb(237, 28, 26);
}
.c2 {
  background-color: rgb(241, 103, 36);
}
.c3 {
  background-color: rgb(251, 178, 27);
}
.c4 {
  background-color: rgb(93, 188, 105);
}
.c5 {
  background-color: rgb(51, 192, 204);
}
.c6 {
  background-color: rgb(214, 49, 123);
}

// Flip cards ///////////////////////////////////////////////////////////////////////////

.container { 
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 100vw;
}

.flip-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;

  .card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front-face {
    transform-style: preserve-3d;
    //transform: rotateY( 180deg );
  }

  .back-face {
    transform-style: preserve-3d;
    transform: rotateY( 180deg );
  }
}

.layout-12 {
  .front-face, .govuk {
    display: flex;

    & > div {
      margin: auto 0;
    }
  }
}

// General text (the defaults) //////////////////////////////////////////////////////////

.layout-12 {
  .title {
    font-size: 1.5vw;
  }
  .figure {
    font-size: 4.5vw;
  }
}

// KILL
.layout-9 {
  .title {
    font-size: 1.75vw;
  }
  .figure {
    font-size: 6vw;
  }
}

// cell "types" - i.e. large figure, realtime users etc /////////////////////////////////

// Large figure /////////////////////////////////////////////////////////////////////////

.large-figure { // up to 8 figures, with commas
  padding: 4%;
}

// Graph layouts ////////////////////////////////////////////////////////////////////////

.pie-container {
  display: table;
  height: 100%;

  .cell-left {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 2% 4% 0 4%;
  }

  .cell-right {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 2% 4% 0 0;
  }
}

.pie-key {
  margin-top: 2vh;
}
.pie-value {
  font-size: 4.5vw;
}
.pie-value + .pie-key {
  margin-top: -0.75em;
}

.line-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2% 4%;
  .ct-chart {
    height: 70%;
  }
}


// Icon layout //////////////////////////////////////////////////////////////////////////

// KILL
.icon-figure {
  .title {
    padding: 4% 4% 0 4%;
  }
  .image {
    position: absolute;
    top: 33.3%;
    bottom: 0;
    width: 33.3%;
    padding: 4%;
  }
  .figure {
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    bottom: 0;
    width: 66.6%;
    padding: 4% 4% 4% 0;
  }
}

// Line chart layout ////////////////////////////////////////////////////////////////////

// KILL
.icon-line {
  .title {
    padding: 4% 4% 0 4%;
  }
  .line {
    height: 50%;
  }
}

// Pie chart layout /////////////////////////////////////////////////////////////////////

// KILL
.icon-pie {
  .title {
    padding: 4% 4% 0 4%;
  }
  .pie {
    position: absolute;
    top: 33.3%;
    bottom: 0;
    width: 33.3%;
    padding: 5% 4%;
  }
  .figure {
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    bottom: 0;
    width: 66.6%;
    padding: 4% 4% 4% 0;
    font-size: 6.5vw;
  }
}

// Sprint logo and hashtag //////////////////////////////////////////////////////////////

.sprint-logo {
  display: flex;
  background-color: $white;
  img {
    margin: auto;
    width: 80%;
  }
}

.hashtag {
  display: flex;
  font-size: 4.5vw;
  & > div {
    margin: auto;
  }
  .layout-9 & {
    background-color: $white;
    color: $black;
  }
  .performance-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vh;
    font-size: 2.5vh;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
}

// Performance platform link ////////////////////////////////////////////////////////////

// KILL
#performance-link {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  padding: 1%;
  font-size: 2.5vh;
  font-weight: 400;
  white-space: nowrap;
  background-color: $black;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transform: rotate(90deg);
}
